.clients {
  &__container {
    flex-direction: column;
  }

  &__title {
    margin-bottom: 30px;
    width: 314px;
    height: 33px;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }

  &__list {
    max-width: 450px;
    height: 336px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    padding: 0;
  }

  &__icon {
    width: 210px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border-color: $themeColor;
    }

    &:hover svg {
      fill: $themeColor;
    }

    & svg {
      fill: #afb1b8;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    & svg:hover {
      fill: $themeColor;
    }
  }
}

@media screen and (min-width: 768px) {
  .clients {
    &__list {
      max-width: 738px;
      height: 214px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    margin-top: 0;
    margin-bottom: 0;

    &__title {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 42px;
    }

    &__list {
      max-width: 1170px;
      width: 1170px;
      height: 92px;
      flex-wrap: nowrap;
    }

    &__icon {
      width: 170px;
      height: 92px;
    }
  }
}
